---
// import aboutImg from "@/assets/about-astro.png";
import PageLayout from "@/layouts/Base.astro";
// import { Image } from "astro:assets";

const meta = {
	description: "Personal blog of Eray",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<h1 class="title mb-6">Hi, I'm Eray!</h1>
		<p class="mb-4">
			I am currently working as a Research Engineer at <a
				href="https://semiotic.ai/"
				style="color:#bb3a46">Semiotic Labs</a
			> where I am a core developer of <a href="https://thegraph.com/" style="color:#bb3a46"
				>The Graph Protocol</a
			>. Before that, I was an MEV searcher and consultant and also participated in the Contributor
			Programs at Ethereum Foundation's <a
				href="https://efdn.notion.site/Robust-Incentives-Group-RIG-Homepage-802339956f2745a5964d8461c5ccef02"
				style="color:#bb3a46">RIG team</a
			> and <a href="https://github.com/privacy-scaling-explorations" style="color:#bb3a46"
				>PSE team</a
			>. For more detailed information, please see <a href="/about" style="color:#bb3a46">About </a>
			page.
		</p>
			<ul class="list-inside list-disc">
				<li>
					My research interests are Mechanism design, Cryptoeconomic Security, MEV, Proof of Stake,
					Zero Knowledge, and SGX.
				</li>
				<li>
					In The Graph, we are working on bringing Verifiability to The Graph ecosystem. A detailed <a
						href="https://hackmd.io/@severiano4/H1AXcOK2n">look</a
					> at what we are building.
				</li>
				<li>
					I participated in the cyber resilience and Blockchain working group at the EBRD and the
					University of Cambridge, where I served as the team lead for Finance. Within the finance
					section, my primary focus is on blockchain projects. I explore the implementation of
					blockchain technology in the financial sector, assessing its potential benefits and risks.
				</li>
				<li>
					Holds an MSc in CS at NTNU <a href="https://www.ntnu.edu/paasforchain">Blockchain Lab</a> and
					a BSc in Systems Engineering.
				</li>
			</ul>
		</p>
	</div>
</PageLayout>
